.theme-default {
}

.theme-blue {
    --primary: var(--color-blue-600);
    --primary-foreground: var(--color-blue-50);
    --ring: var(--color-blue-400);
    --sidebar-primary: var(--color-blue-600);
    --sidebar-primary-foreground: var(--color-blue-50);
    --sidebar-ring: var(--color-blue-400);
    --chart-1: var(--color-blue-300);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-blue-700);
    --chart-5: var(--color-blue-800);

    @variant dark {
        --primary: var(--color-blue-500);
        --primary-foreground: var(--color-blue-50);
        --ring: var(--color-blue-900);
        --sidebar-primary: var(--color-blue-500);
        --sidebar-primary-foreground: var(--color-blue-50);
        --sidebar-ring: var(--color-blue-900);
    }
}

.theme-green {
    --primary: var(--color-lime-600);
    --primary-foreground: var(--color-lime-50);
    --ring: var(--color-lime-400);
    --chart-1: var(--color-green-300);
    --chart-2: var(--color-green-500);
    --chart-3: var(--color-green-600);
    --chart-4: var(--color-green-700);
    --chart-5: var(--color-green-800);
    --sidebar-primary: var(--color-lime-600);
    --sidebar-primary-foreground: var(--color-lime-50);
    --sidebar-ring: var(--color-lime-400);

    @variant dark {
        --primary: var(--color-lime-600);
        --primary-foreground: var(--color-lime-50);
        --ring: var(--color-lime-900);
        --sidebar-primary: var(--color-lime-500);
        --sidebar-primary-foreground: var(--color-lime-50);
        --sidebar-ring: var(--color-lime-900);
    }
}

.theme-amber {
    --primary: var(--color-amber-600);
    --primary-foreground: var(--color-amber-50);
    --ring: var(--color-amber-400);
    --chart-1: var(--color-amber-300);
    --chart-2: var(--color-amber-500);
    --chart-3: var(--color-amber-600);
    --chart-4: var(--color-amber-700);
    --chart-5: var(--color-amber-800);
    --sidebar-primary: var(--color-amber-600);
    --sidebar-primary-foreground: var(--color-amber-50);
    --sidebar-ring: var(--color-amber-400);

    @variant dark {
        --primary: var(--color-amber-500);
        --primary-foreground: var(--color-amber-50);
        --ring: var(--color-amber-900);
        --sidebar-primary: var(--color-amber-500);
        --sidebar-primary-foreground: var(--color-amber-50);
        --sidebar-ring: var(--color-amber-900);
    }
}

.theme-rose {
    --primary: var(--color-rose-600);
    --primary-foreground: var(--color-rose-50);
    --ring: var(--color-rose-400);
    --chart-1: var(--color-rose-300);
    --chart-2: var(--color-rose-500);
    --chart-3: var(--color-rose-600);
    --chart-4: var(--color-rose-700);
    --chart-5: var(--color-rose-800);
    --sidebar-primary: var(--color-rose-600);
    --sidebar-primary-foreground: var(--color-rose-50);
    --sidebar-ring: var(--color-rose-400);

    @variant dark {
        --primary: var(--color-rose-500);
        --primary-foreground: var(--color-rose-50);
        --ring: var(--color-rose-900);
        --sidebar-primary: var(--color-rose-500);
        --sidebar-primary-foreground: var(--color-rose-50);
        --sidebar-ring: var(--color-rose-900);
    }
}

.theme-purple {
    --primary: var(--color-purple-600);
    --primary-foreground: var(--color-purple-50);
    --ring: var(--color-purple-400);
    --chart-1: var(--color-purple-300);
    --chart-2: var(--color-purple-500);
    --chart-3: var(--color-purple-600);
    --chart-4: var(--color-purple-700);
    --chart-5: var(--color-purple-800);
    --sidebar-primary: var(--color-purple-600);
    --sidebar-primary-foreground: var(--color-purple-50);
    --sidebar-ring: var(--color-purple-400);

    @variant dark {
        --primary: var(--color-purple-500);
        --primary-foreground: var(--color-purple-50);
        --ring: var(--color-purple-900);
        --sidebar-primary: var(--color-purple-500);
        --sidebar-primary-foreground: var(--color-purple-50);
        --sidebar-ring: var(--color-purple-900);
    }
}

.theme-orange {
    --primary: var(--color-orange-600);
    --primary-foreground: var(--color-orange-50);
    --ring: var(--color-orange-400);
    --chart-1: var(--color-orange-300);
    --chart-2: var(--color-orange-500);
    --chart-3: var(--color-orange-600);
    --chart-4: var(--color-orange-700);
    --chart-5: var(--color-orange-800);
    --sidebar-primary: var(--color-orange-600);
    --sidebar-primary-foreground: var(--color-orange-50);
    --sidebar-ring: var(--color-orange-400);

    @variant dark {
        --primary: var(--color-orange-500);
        --primary-foreground: var(--color-orange-50);
        --ring: var(--color-orange-900);
        --sidebar-primary: var(--color-orange-500);
        --sidebar-primary-foreground: var(--color-orange-50);
        --sidebar-ring: var(--color-orange-900);
    }
}

.theme-teal {
    --primary: var(--color-teal-600);
    --primary-foreground: var(--color-teal-50);
    --chart-1: var(--color-teal-300);
    --chart-2: var(--color-teal-500);
    --chart-3: var(--color-teal-600);
    --chart-4: var(--color-teal-700);
    --chart-5: var(--color-teal-800);
    --sidebar-primary: var(--color-teal-600);
    --sidebar-primary-foreground: var(--color-teal-50);
    --sidebar-ring: var(--color-teal-400);

    @variant dark {
        --primary: var(--color-teal-500);
        --primary-foreground: var(--color-teal-50);
        --sidebar-primary: var(--color-teal-500);
        --sidebar-primary-foreground: var(--color-teal-50);
        --sidebar-ring: var(--color-teal-900);
    }
}

.theme-red {
    --primary: var(--color-red-600);
    --primary-foreground: var(--color-red-50);
    --ring: var(--color-red-400);
    --chart-1: var(--color-red-300);
    --chart-2: var(--color-red-500);
    --chart-3: var(--color-red-600);
    --chart-4: var(--color-red-700);
    --chart-5: var(--color-red-800);
    --sidebar-primary: var(--color-red-600);
    --sidebar-primary-foreground: var(--color-red-50);
    --sidebar-ring: var(--color-red-400);

    @variant dark {
        --primary: var(--color-red-500);
        --primary-foreground: var(--color-red-50);
        --ring: var(--color-red-900);
        --sidebar-primary: var(--color-red-500);
        --sidebar-primary-foreground: var(--color-red-50);
        --sidebar-ring: var(--color-red-900);
    }
}

.theme-yellow {
    --primary: var(--color-yellow-400);
    --primary-foreground: var(--color-yellow-900);
    --ring: var(--color-yellow-400);
    --chart-1: var(--color-yellow-300);
    --chart-2: var(--color-yellow-500);
    --chart-3: var(--color-yellow-600);
    --chart-4: var(--color-yellow-700);
    --chart-5: var(--color-yellow-800);
    --sidebar-primary: var(--color-yellow-600);
    --sidebar-primary-foreground: var(--color-yellow-50);
    --sidebar-ring: var(--color-yellow-400);

    @variant dark {
        --primary: var(--color-yellow-500);
        --primary-foreground: var(--color-yellow-900);
        --ring: var(--color-yellow-900);
        --sidebar-primary: var(--color-yellow-500);
        --sidebar-primary-foreground: var(--color-yellow-50);
        --sidebar-ring: var(--color-yellow-900);
    }
}

.theme-violet {
    --primary: var(--color-violet-600);
    --primary-foreground: var(--color-violet-50);
    --ring: var(--color-violet-400);
    --chart-1: var(--color-violet-300);
    --chart-2: var(--color-violet-500);
    --chart-3: var(--color-violet-600);
    --chart-4: var(--color-violet-700);
    --chart-5: var(--color-violet-800);
    --sidebar-primary: var(--color-violet-600);
    --sidebar-primary-foreground: var(--color-violet-50);
    --sidebar-ring: var(--color-violet-400);

    @variant dark {
        --primary: var(--color-violet-500);
        --primary-foreground: var(--color-violet-50);
        --ring: var(--color-violet-900);
        --sidebar-primary: var(--color-violet-500);
        --sidebar-primary-foreground: var(--color-violet-50);
        --sidebar-ring: var(--color-violet-900);
    }
}

.theme-bubble-gum {
    --background: oklch(0.9399 0.0203 345.6985);
    --foreground: oklch(0.4712 0 0);
    --card: oklch(0.9498 0.05 86.8891);
    --card-foreground: oklch(0.4712 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.4712 0 0);
    --primary: oklch(0.6209 0.1801 348.1385);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8095 0.0694 198.1863);
    --secondary-foreground: oklch(0.3211 0 0);
    --muted: oklch(0.88 0.0504 212.0952);
    --muted-foreground: oklch(0.5795 0 0);
    --accent: oklch(0.9195 0.0801 87.667);
    --accent-foreground: oklch(0.3211 0 0);
    --destructive: oklch(0.7091 0.1697 21.9551);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.6209 0.1801 348.1385);
    --input: oklch(0.9189 0 0);
    --ring: oklch(0.7002 0.1597 350.7532);
    --chart-1: oklch(0.7002 0.1597 350.7532);
    --chart-2: oklch(0.8189 0.0799 212.0892);
    --chart-3: oklch(0.9195 0.0801 87.667);
    --chart-4: oklch(0.7998 0.111 348.1791);
    --chart-5: oklch(0.6197 0.1899 353.9091);
    --sidebar: oklch(0.914 0.0424 343.0913);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6559 0.2118 354.3084);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8228 0.1095 346.0184);
    --sidebar-accent-foreground: oklch(0.3211 0 0);
    --sidebar-border: oklch(0.9464 0.0327 307.1745);
    --sidebar-ring: oklch(0.6559 0.2118 354.3084);
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.4rem;
    --shadow-x: 3px;
    --shadow-y: 3px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-sm:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-md:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-lg:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-xl:
        3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1),
        3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1);
    --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    @variant dark {
        --background: oklch(0.2497 0.0305 234.1628);
        --foreground: oklch(0.9306 0.0197 349.0785);
        --card: oklch(0.2902 0.0299 233.5352);
        --card-foreground: oklch(0.9306 0.0197 349.0785);
        --popover: oklch(0.2902 0.0299 233.5352);
        --popover-foreground: oklch(0.9306 0.0197 349.0785);
        --primary: oklch(0.9195 0.0801 87.667);
        --primary-foreground: oklch(0.2497 0.0305 234.1628);
        --secondary: oklch(0.7794 0.0803 4.133);
        --secondary-foreground: oklch(0.2497 0.0305 234.1628);
        --muted: oklch(0.2713 0.0086 255.578);
        --muted-foreground: oklch(0.7794 0.0803 4.133);
        --accent: oklch(0.6699 0.0988 356.9762);
        --accent-foreground: oklch(0.9306 0.0197 349.0785);
        --destructive: oklch(0.6702 0.1806 350.3599);
        --destructive-foreground: oklch(0.2497 0.0305 234.1628);
        --border: oklch(0.3907 0.0399 242.2181);
        --input: oklch(0.3093 0.0305 232.0027);
        --ring: oklch(0.6998 0.0896 201.8672);
        --chart-1: oklch(0.6998 0.0896 201.8672);
        --chart-2: oklch(0.7794 0.0803 4.133);
        --chart-3: oklch(0.6699 0.0988 356.9762);
        --chart-4: oklch(0.4408 0.0702 217.0848);
        --chart-5: oklch(0.2713 0.0086 255.578);
        --sidebar: oklch(0.2303 0.027 235.9743);
        --sidebar-foreground: oklch(0.967 0.0029 264.5419);
        --sidebar-primary: oklch(0.6559 0.2118 354.3084);
        --sidebar-primary-foreground: oklch(1 0 0);
        --sidebar-accent: oklch(0.8228 0.1095 346.0184);
        --sidebar-accent-foreground: oklch(0.2781 0.0296 256.848);
        --sidebar-border: oklch(0.3729 0.0306 259.7328);
        --sidebar-ring: oklch(0.6559 0.2118 354.3084);
        --font-sans: Poppins, sans-serif;
        --font-serif: Lora, serif;
        --font-mono: Fira Code, monospace;
        --radius: 0.4rem;
        --shadow-x: 3px;
        --shadow-y: 3px;
        --shadow-blur: 0px;
        --shadow-spread: 0px;
        --shadow-opacity: 1;
        --shadow-color: #324859;
        --shadow-2xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
        --shadow-xs: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 0.5);
        --shadow-sm:
            3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
            3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
        --shadow:
            3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
            3px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 1);
        --shadow-md:
            3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
            3px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 1);
        --shadow-lg:
            3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
            3px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 1);
        --shadow-xl:
            3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 1),
            3px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 1);
        --shadow-2xl: 3px 3px 0px 0px hsl(206.1538 28.0576% 27.2549% / 2.5);
    }
}

.theme-neo-brutalism {
    --background: oklch(1 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.6489 0.237 26.9728);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.968 0.211 109.7692);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.9551 0 0);
    --muted-foreground: oklch(0.3211 0 0);
    --accent: oklch(0.5635 0.2408 260.8178);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0 0 0);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0 0 0);
    --input: oklch(0 0 0);
    --ring: oklch(0.6489 0.237 26.9728);
    --chart-1: oklch(0.6489 0.237 26.9728);
    --chart-2: oklch(0.968 0.211 109.7692);
    --chart-3: oklch(0.5635 0.2408 260.8178);
    --chart-4: oklch(0.7323 0.2492 142.4953);
    --chart-5: oklch(0.5931 0.2726 328.3634);
    --sidebar: oklch(0.9551 0 0);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.6489 0.237 26.9728);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.5635 0.2408 260.8178);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.6489 0.237 26.9728);
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
    --shadow-sm:
        4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
    --shadow:
        4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
    --shadow-md:
        4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 2px 4px -1px hsl(0 0% 0% / 1);
    --shadow-lg:
        4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 4px 6px -1px hsl(0 0% 0% / 1);
    --shadow-xl:
        4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 8px 10px -1px hsl(0 0% 0% / 1);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    @variant dark {
        --background: oklch(0 0 0);
        --foreground: oklch(1 0 0);
        --card: oklch(0.3211 0 0);
        --card-foreground: oklch(1 0 0);
        --popover: oklch(0.3211 0 0);
        --popover-foreground: oklch(1 0 0);
        --primary: oklch(0.7044 0.1872 23.1858);
        --primary-foreground: oklch(0 0 0);
        --secondary: oklch(0.9691 0.2005 109.6228);
        --secondary-foreground: oklch(0 0 0);
        --muted: oklch(0.2178 0 0);
        --muted-foreground: oklch(0.8452 0 0);
        --accent: oklch(0.6755 0.1765 252.2592);
        --accent-foreground: oklch(0 0 0);
        --destructive: oklch(1 0 0);
        --destructive-foreground: oklch(0 0 0);
        --border: oklch(1 0 0);
        --input: oklch(1 0 0);
        --ring: oklch(0.7044 0.1872 23.1858);
        --chart-1: oklch(0.7044 0.1872 23.1858);
        --chart-2: oklch(0.9691 0.2005 109.6228);
        --chart-3: oklch(0.6755 0.1765 252.2592);
        --chart-4: oklch(0.7395 0.2268 142.8504);
        --chart-5: oklch(0.6131 0.2458 328.0714);
        --sidebar: oklch(0 0 0);
        --sidebar-foreground: oklch(1 0 0);
        --sidebar-primary: oklch(0.7044 0.1872 23.1858);
        --sidebar-primary-foreground: oklch(0 0 0);
        --sidebar-accent: oklch(0.6755 0.1765 252.2592);
        --sidebar-accent-foreground: oklch(0 0 0);
        --sidebar-border: oklch(1 0 0);
        --sidebar-ring: oklch(0.7044 0.1872 23.1858);
        --font-sans: DM Sans, sans-serif;
        --font-serif:
            ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
        --font-mono: Space Mono, monospace;
        --radius: 0px;
        --shadow-x: 4px;
        --shadow-y: 4px;
        --shadow-blur: 0px;
        --shadow-spread: 0px;
        --shadow-opacity: 1;
        --shadow-color: hsl(0 0% 0%);
        --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
        --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
        --shadow-sm:
            4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
        --shadow:
            4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
        --shadow-md:
            4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 2px 4px -1px hsl(0 0% 0% / 1);
        --shadow-lg:
            4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 4px 6px -1px hsl(0 0% 0% / 1);
        --shadow-xl:
            4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 8px 10px -1px hsl(0 0% 0% / 1);
        --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
    }

    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
